body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4CAF50, #2e7d32);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-box {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 20px;
}

.auth-box input,
.auth-box select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-box button:hover {
  background: #388e3c;
}
