body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.grid a {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  background: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}
